/* 
ELEMENTS
*/
textarea {
  border: 0.25px solid;
  border-style: none;
  width: 500px;
  height: 100px;
  resize: vertical;
}

p {
  font-size: 28px; 
}



/* 
CLASSES
*/

.header-bar {
  align-items: center;
  display: flex;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0.5;
  box-shadow: 0 16px 64px 0 rgba(58, 66, 187, 0.651);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.fa {
  margin-left: auto;
  display: inline-block;
}

.fa:hover {
  color:rgb(216, 161, 93)
}

.card-edit {
  width: 500px;
}

.card-header-preview {
  width: 800px;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  align-items: center;
}

.preview {
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 20px;
}

.preview-output {
  width: 800px;
}

.card-preview {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 800px;
}

.body {
  background-color: bisque;
}

/* 
ID
*/

#ed {
  margin-top: 50px;
}

#pre {
  margin-top: 50px;
}
