

/* 
ELEMENTS
*/
textarea {
  width: 500px;
  height: 100px;
}


/* 
CLASSES
*/

.card-edit {
  width: 500px;
}

.card-header-preview {
  width: 800px;
}

.card {
  justify-content: center;
  align-items: center;
  width: 500px;
}

.card-preview {
  justify-content: center;
  align-items: center;
  width: 800px;
}

.preview-textarea{
  width: 800px;
}

.body {
  background-color: bisque;
}


/* 
ID
*/

#editor {
  margin-top: 50px;
}

#preview {
  margin-top: 50px;
}
